# Build
build*/
out/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.sln.docstates
*.VC.db
*.VC.opendb
*.opendb
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.bsc
*.opt
ipch/

# Editor
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Third-party dependencies
config_editor/third_party/imgui/

# Log (if copied from game folder for debugging)
angle_log.txt

# Build Output
ReviANGLE-*.zip
dist/
